<br>








<div id="login-form7">

  <form action="/login" method="POST" class="formLogin">



    <h1 class="loginTextee"></h1>
    <div class="inset">
      <div class="card">
        <div class="card-body">
          <p>
            <label for="email" class="loginTextee">Email</label>
            <input type="text" name="email" id="gdeml">
          </p>
          <p>
            <label for="password" class="loginTextee">Password</label>
            <input type="password" name="password" id="goodpss">
          </p>
          <p>

            <input type="submit" name="go" id="go" value="Log in">
          </p>
          
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}

        </div>
      </div>
    </div>

    <div class="col-sm-6 px-0 d-none d-sm-block">
      <img src="/images/loginart.jpeg" alt="Login image" class="imgLogin"
        style="object-fit: cover; object-position: left;">
    </div>

  </form>
</div>