<br>
<br>
<br>
<br>
<br>



<div id="login-form">
  {{!-- <h2>Log In</h2> --}}
  <form action="/login" method="POST">

    {{!-- <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit">Log In</button> --}}

    <h1>Log in</h1>
    <div class="inset">
      <p>
        <label for="email">EMAIL ADDRESS</label>
        <input type="text" name="email" id="gdeml">
      </p>
      <p>
        <label for="password">PASSWORD</label>
        <input type="password" name="password" id="goodpss">
      </p>
      <p>
        <input type="checkbox" name="remember" id="remember">
        <label for="remember">Remember me for 14 days</label>
      </p>
    </div>
    <p class="p-container">
      <span>Forgot password ?</span>
      <input type="submit" name="go" id="go" value="Log in">
    </p>


    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>