
  <div class="container">
    <br>
    
     
                <h2>Edit profile</h2>
                <form action="/edit_profile" method="POST"></form>
                
                
                <br>
                <img src="/images/avatar.png" alt="Avatar" class="avatar">
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-xs">
                        <div class="form-group">
                            <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">
                        </div>
                    </div>
                    <div class="col-xs">
                        <div class="form-group">
                            <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
                </div>
                <div class="row">
                    <div class="col-xs">
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">
                        </div>
                    </div>
                    <div class="col-xs">
                        <div class="form-group">
                            <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
                        </div>
                    </div>
                    <div class="col-xs">
                        <div class="form-group">
                            <input type="password" name="password_change" id="password_change"  placeholder="New Password" tabindex="7">
                        </div>
                    </div>
                    <div class="col-xs2">
                        <div class="form-group">
                            <input type="text" name="BIO" id="BIO"  placeholder="BIO" tabindex="8">
                        </div>
                        <div class="col-xs2">
                        <div class="form-group">
                    <input type="file" name="picture-cover-image" />
                        </div>
                    </div>
                </div>
                <br>
                <br>
                
                <br>
                <div class="row">
                    <div class="col-xs-12 col-md-6"></div>
                    <button class="button-64" role="button"><span class="text">Save changes</span></button>
                </div>
                <br>
                <br>
        </div>
    </div>
   </form> 
   
</body>
</html>



 

 




