<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    {{{body}}}
<<<<<<< HEAD
    <div class="nav">
    <nav id="navBar">
      <ul class="navText">
          <a href="/" class="home">Home</a>
          <a href="/signup" class="sign">Sign Up</a>
          <a href="/login" class="login">Login</a>
          <a href="/logout" class="logout" >Logout</a>
=======

    <nav>
      <ul>
        <li id="to-left">
          <p><a href="/"> Home </a></p>
        </li>
        <li id="to-right">
          <a href="/signup">Signup</a>
          <a href="/login">Login</a>
          {{#if isLoggedIn}}
          {{isLoggedIn}}
          <a href="/logout">Logout</a>
          {{/if}}
          {{#if isLoggedIn}}
          {{isLoggedIn}}
          <a href="/profile">Profile</a>
          <a href="/edit_profile">Edit profile</a>
          {{/if}}
>>>>>>> c759bcdd25f57c951a6f0f1f9647c1fe65cab97f
          </form>

      </ul>
    </nav>
    </div>

    <script src="/js/script.js"></script>
  </body>

</html> 


