<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    {{{body}}}

    <nav>
      <ul>
        <li id="to-left">
          <p><a href="/"> Home </a></p>
        </li>
        <li id="to-right">
          <a href="/signup">Signup</a>
          <a href="/login">Login</a>
          {{#if isLoggedIn}}
          {{isLoggedIn}}
          <a href="/logout">Logout</a>
          {{/if}}
          {{#if isLoggedIn}}
          {{isLoggedIn}}
          <a href="/profile">Profile</a>
          <a href="/edit_profile">Edit profile</a>
          {{/if}}
          </form>
        </li>
      </ul>
    </nav>

    <script src="/js/script.js"></script>
  </body>

</html>