

<h1>{{title}}</h1>
 <img src="{{multimedia.0.url}}">
<p>{{abstract}}</p>

<form action="/news/favourite" method="post">
  <input type="text" value="{{uri}}" name="uri" hidden>
  <button class="btnViewArticle" type="submit">Add to favourites </button>
</form>







