<div class="flex-container">
  <div class="text-center">
    <p class="error">
      <span class="fade-in" id="digit1">4</span>
      <span class="fade-in" id="digit2">0</span>
      <span class="fade-in" id="digit3">4</span>
    </p>
    <p class="error">PAGE NOT FOUND</p>
    
  </div>
</div>

