<div id="profile-form">
  <h2>Add name</h2>
  <form action="/" method="POST">

    <label> Add preferences
      <input type="text" name="preferences" placeholder="Your preferences" />
    </label>

    <label> Edit password 
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit">Save changes</button>

  </form>
</div>
